<!DOCTYPE html>
<html lang="en">

<head>
    {% block head %}
    <base href="{{ base_url() }}/">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{% block title %}{% endblock %} › SMA N 3 Bangkalan - Admin </title>
    <link href="public/assets/css/admin.css" rel="stylesheet">
    <link href="public/assets/css/font-awesome.min.css" rel="stylesheet">
    <link href="public/assets/css/image-picker.css" rel="stylesheet">
    <link href="public/assets/css/admin.style.css" rel="stylesheet"> {% endblock %}
</head>
{% set AuthUser = AuthData.user %}
{% set AuthGroupKey = AuthData.groupKey %}
{% set AuthUserId = AuthData.user_id %}
<body>
    <!--top navbar static-->
    <div class="wraper">
        <nav class="navbar navbar-default navbar-fixed-top" style="border-bottom:1px solid #3c3c3c;">
            <div class="container-fluid">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#profile-sm-menu" style="padding:2px 0;">
                        <img src="public/profile/{{ AuthUser.image }}" height="25px">
                    </button>
                    <button type="button" class="navbar-toggle collapsed" id="menu-toggle" style="float:left;">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a class="navbar-brand hidden-xs hidden-sm" href="#">
                        <img src="public/assets/img/logo.png" height="100%">
                    </a>
                </div>
                <div class="collapse navbar-collapse" id="profile-sm-menu">
                    <ul class="nav navbar-nav hidden-xs hidden-sm">
                        {% if AuthUser.groups %}
                        {% set AuthUserGroups = AuthUser.groups[AuthGroupKey] %}
                        {% set AuthGroups = AuthUserGroups.detail %}
                        <li><a href="#" class="btn btn-default navbar-btn btn-lg"><i class="fa fa-envelope-o"></i>&nbsp;<span class="badge">42</span></a></li>
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">{{AuthGroups.name}} <span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                {% for user_group in AuthUser.groups %}
                                {% set AuthGroups = user_group.detail %}
                                <li><a href="{{ current_path }}?change_group={{ loop.index0 }}">{{AuthGroups.name}}</a></li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endif %}
                        <li>
                            <a href="{{ uri_base }}" target="_blank" class="btn btn-default navbar-btn btn-lg"><span class="badge">SMA Negeri 1 Bangkalan {% if currentUserGroupUrl %} <i class="fa fa-chevron-right"></i> {{currentUserGroup.name}}{% endif %}<i class="fa fa-external-link-square fa-fw"></i></span></a>
                        </li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-md hidden-lg">
                        <li><a href="#">{{ user_data.nickname }} ({{ user_data.username }})</a></li>
                        <li><a href="#">Pengaturan Akun</a></li>
                        <li><a href="{{ path_for('AdminLogout') }}" class="do-logout">Log Out</a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right hidden-xs hidden-sm">
                        <li class="dropdown">
                            <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                                    Admin &nbsp;
                                    <div class="pull-right">
                                        <img src="public/profile/{{ AuthUser.image }}" height="22px">
                                    </div>
                                </a>
                            <ul class="dropdown-menu" role="menu">
                                <li>
                                    <div class="navbar-login">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <p class="text-center">
                                                    <img src="public/profile/{{ AuthUser.image }}" class="icon-size">
                                                </p>
                                            </div>
                                            <div class="col-lg-8">
                                                <p class="text-left"><strong>{{ AuthUser.nickname }} ({{ AuthUser.username }})</strong></p>
                                                <p class="text-left small">{{ AuthUser.email }}</p>
                                                <p class="text-left">
                                                    <a href="#" class="btn btn-info btn-block btn-sm">Pengaturan Akun</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="navbar-login navbar-login-session">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <p>
                                                    <a href="{{ path_for('AdminLogout') }}" class="btn btn-danger btn-block do-logout">Log Out</a>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>
    <!--after top navbar wrapper static-->
    <div id="wrapper">
        <!--sidebar wrapper-->
        <div id="sidebar-wrapper">
            <ul class="nav nav-pills nav-stacked">
                <li class="{{ active('AdminDashboard') }}" style="padding: 10px 0;">
                    <a href="{{ path_for('AdminDashboard') }}"><i class="fa fa-circle-o-notch fa-spin" style="padding:0;margin-right:10px;"></i>Dasbor</a>
                </li>
                {% if AuthUserGroups.role in ['writer', 'editor', 'administrator' ]%}
                <li class="{{ sidemenu.post ? 'active' }}">
                    <a href="{{ path_for('') }}"><i class="fa fa-thumb-tack fa-fw"></i>Pos</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class="{{ sidemenu.post == 'all' ? 'active' }}"><a href="{{ path_for('') }}">Semua Pos</a></li>
                        <li class="{{ sidemenu.post == 'add' ? 'active' }}"><a href="{{ path_for('') }}">Tambah Baru</a></li>
                        <li class="{{ sidemenu.post == 'media' ? 'active' }}"><a href="{{ path_for('') }}">Media</a></li>
                        <li class="{{ sidemenu.post == 'category' ? 'active' }}"><a href="{{ path_for('') }}">Kategori</a></li>
<!--                        <li class=""><a href="#">Tags</a></li>-->
                    </ul>
                </li>
                <li class="{{ sidemenu.pages ? 'active' }}">
                    <a href="{{ path_for('') }}"><i class="fa fa-clone fa-fw"></i>Halaman</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class="{{ sidemenu.pages == 'all' ? 'active' }}"><a href="{{ path_for('') }}">Semua Halaman</a></li>
                        <li class="{{ sidemenu.pages == 'add' ? 'active' }}"><a href="{{ path_for('') }}">Tambah Baru</a></li>
                        <li class=""><a href="#">Manager File</a></li>
                        <li class="{{ sidemenu.pages == 'teachers' ? 'active' }}"><a href="{{ path_for('') }}">Data Guru</a></li>
                    </ul>
                </li>
<!--                <li class=""><a href="#"><i class="fa fa-comments-o fa-fw"></i>Komentar</a></li>-->
                <li class="{{ sidemenu.gallery ? 'active' }}">
                    <a href="{{ path_for('') }}"><i class="fa fa-picture-o fa-fw"></i>Galeri</a>
                </li>
                {% endif %}
            </ul>
            <ul class="nav nav-pills nav-stacked" style="padding-top:30px;">
                {% if AuthUserGroups.role in [ 'register', 'administrator' ] %}
                <li class="{{ active(['admin_PPDB_forms', 'admin_PPDB_data']) }}">
                    <a href="{{ path_for('admin_PPDB_forms') }}"><i class="fa fa-rocket fa-fw"></i>Aplikasi</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class="{{ active('admin_PPDB_forms') }}"><a href="{{ path_for('admin_PPDB_forms') }}">Pendaftaran</a></li>
                        <li class="{{ active('admin_PPDB_data', true) }}"><a href="{{ hidden_path('admin_PPDB_data') }}">Data Pendaftar</a></li>
                    </ul>
                </li>
                {% endif %} {% if privilege.role in [ 'editor', 'administrator' ] %}
                <li class="{{ sidemenu.view ? 'active' }}">
                    <a href="{{ path_for('') }}"><i class="fa fa-paint-brush fa-fw"></i>Tampilan</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class="{{ sidemenu.view == 'menu' ? 'active' }}"><a href="{{ path_for('') }}">Menu</a></li>
                        <li class=""><a href="#">Pengaturan Tampilan</a></li>
                        <li class=""><a href="#">Halaman Depan</a></li>
                    </ul>
                </li>
                {% endif %} {% if privilege.role in [ 'administrator' ] %}
                <li class="{{ sidemenu.groups ? 'active' }}">
                    <a href="{{ path_for('') }}"><i class="fa fa-cubes fa-fw"></i>Komunitas</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class="{{ sidemenu.groups == 'list' ? 'active' }}"><a href="{{ path_for('') }}">Semua Komunitas</a></li>
                        <li class=""><a role="button" class="new-groups">Tambah Baru</a></li>
                    </ul>
                </li>
                <li class="{{ sidemenu.users ? 'active' }}">
                    <a href="{{ path_for('') }}"><i class="fa fa-user-circle-o fa-fw"></i>Pengguna</a>
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class="{{ sidemenu.users == 'list' ? 'active' }}"><a href="{{ path_for('') }}">Semua Pengguna</a></li>
                        <li class=""><a role="button" class="invite-users">Tambah Baru</a></li>
                        <li class=""><a href="#">Profil Anda</a></li>
                    </ul>
                </li>
                {% else %}
                <li class="{{ sidemenu.users ? 'active' }}">
                    <a href="{{ path_for('') }}"><i class="fa fa-user-circle-o fa-fw"></i>Profil</a>
                </li>
                {% endif %} {% if privilege.role in [ 'administrator' ] %}
                <li class="{{ sidemenu.settings ? 'active' }}">
                    <a href="{{ path_for('') }}"><i class="fa fa-sliders fa-fw"></i>Pengaturan</a>
<!--
                    <ul class="nav nav-pills nav-stacked nav-sub">
                        <li class=""><a href="#">Umum</a></li>
                        <li class=""><a href="#">Email</a></li>
                        <li class=""><a href="#">Media Sosial</a></li>
                    </ul>
-->
                </li>
                {% endif %}
            </ul>
        </div>
        <!-- Page Content -->
        <div id="page-content-wrapper">
            {% block content %} {% endblock %}
        </div>
        <!-- /#page-content-wrapper -->
    </div>
    {% verbatim %}
    <script id="global-postmedia-dialog" type="x-tmpl-mustache">
        <div class="tab-content">
            <div class="row tab-pane fade" id="global-postmedia-dialog-list-tab">
                <div class="col-md-12">
                    <div class="col-md-12 no-gutter limit-modal global-postmedia-image-list-container" style="overflow-y: auto;">
                        <select class="image-picker show-html global-postmedia-image-list">
                        <!-- image list -->
                        </select>
                    </div>
                </div>
            </div>
            <div class="row tab-pane fade" id="global-postmedia-dialog-upload-tab">
                <div class="col-md-12 global-postmedia-image-upload text-center" style="min-height:200px; border: 5px dashed #777">
                    <h4 style="margin-top:40px;">Tarik Berkas ke sini untuk meng-unggah</h4>
                    <small>Atau</small>
                    <br>
                    <br>
                    <button class="btn btn-primary global-postmedia-image-upload">Pilih Berkas</button>
                    <br>
                </div>
            </div>
            <div class="row tab-pane fade" id="global-postmedia-dialog-url-tab">
                <div class="col-md-12 global-postmedia-image-url" role="radiogroup">
                    <div class="form-group">
                        <label class="control-label" for="global-post-media-url-input">Masukan URL Berkas</label>
                        <input class="form-control" id="global-post-media-url-input" type="text" value="http://">
                    </div>
                </div>
            </div>
        </div>
    </script>
    <script id="global-postmedia-dialog-header" type="x-tmpl-mustache">
        <button type="button" class="bootbox-close-button close" data-dismiss="modal" aria-hidden="true">×</button>
        <h4 class="modal-title">{{title}}</h4></div>
        <ul class="nav nav-tabs">
            <li><a href="#global-postmedia-dialog-upload-tab" data-toggle="tab" aria-expanded="false">Unggah Berkas</a></li>
            <li class=""><a href="#global-postmedia-dialog-list-tab" data-toggle="tab" aria-expanded="false">Pustaka Media&nbsp;<span class="badge">42</span></a></li>
            <li><a href="#global-postmedia-dialog-url-tab" data-toggle="tab" aria-expanded="false">Sisipkan dari URL</a></li>
        </ul>
    </script>
    <script id="global-postmedia-image-list" type="x-tmpl-mustache">
        {{#postmedia}}
        <option data-img-class="lazy" data-img-src="public/content/{{name}}.{{mime}}" data-img-alt="{{file}}" value="public/content/{{name}}.{{mime}}">{{file}}</option>
        {{/postmedia}}
    </script>
    <script id="global-postmedia-dialog-image-detail" type="x-tmpl-mustache">
        <img src="public/content/{{postmedia.file}}" class="img-responsive" alt="">
        <table class="table table-striped table-hover ">
            <tr>
                <td>Nama Berkas</td>
                <td>:</td>
                <td>{{postmedia.file}}</td>
            </tr>
            <tr>
                <td>Tipe Berkas</td>
                <td>:</td>
                <td>{{exif.MimeType}}</td>
            </tr>
            <tr>
                <td>Tanggal Diupload</td>
                <td>:</td>
                <td>{{postmedia.dateString}}</td>
            </tr>
            <tr>
                <td>Ukuran File : </td>
                <td>:</td>
                <td>{{exif.FileSize}}</td>
            </tr>
            <tr>
                <td>Ukuran Resolusi</td>
                <td>:</td>
                <td>{{exif.COMPUTED.Height}} X {{exif.COMPUTED.Width}}</td>
            </tr>
            <tr>
                <td>Diunggah Oleh</td>
                <td>:</td>
                <td>{{postmedia.author}}</td>
            </tr>
        </table>
    </script>
    {% endverbatim %}

    {% block js %}
    <script src="public/assets/js/jquery.min.js"></script>
    <script src="public/assets/js/bootstrap.min.js"></script>
    <script src="public/assets/js/jquery.lazyload.js"></script>
    <script src="public/assets/js/mustache.min.js"></script>
    <script src="public/assets/js/twig.min.js"></script>
    <script src="public/assets/js/image-picker.min.js"></script>
    <script src="public/assets/js/masonry.pkgd.min.js"></script>
    <script src="public/assets/js/notify.js"></script>
    {% endblock %}
    <script src="public/assets/js/admin.app.js"></script>
    <script>
        var baseUrl = $('base').attr('href');
        $(document).ready(function(){
            // $('[data-toggle="tooltip"]').tooltip();
        });

        // var globalUrl = {#
        //     //admin postmedia url
        //     postAdminPostmediaUploadJSON: "{{ path_for('postAdminPostmediaUploadJSON') }}",
        //     getAdminPostmediaListJSON: "{{ path_for('getAdminPostmediaListJSON') }}",
        //     getAdminPostmediaDeleteJSON: "{{ path_for('getAdminPostmediaDeleteJSON') }}",
        //     getAdminPostmediaExifJSON: "{{ path_for('getAdminPostmediaExifJSON') }}",
        //     getAdminPostmediaCropitJson: "{{ path_for('getAdminPostmediaCropitJson') }}",
        //     //admin category url
        //     getAdminCategoryListJSON: "{{ path_for('getAdminCategoryListJSON') }}",
        //     postAdminCategoryShorthandInsertJSON: "{{ path_for('postAdminCategoryShorthandInsertJSON') }}",
        //     //admin tags url
        //     getAdminTagsListJSON: "{{ path_for('getAdminTagsListJSON') }}",
        //     //admin post url
        //     postAdminPostSaveJSON: "{{ path_for('postAdminPostSaveJSON') }}",
        //     postAdminPostChangeJSON: "{{ path_for('postAdminPostChangeJSON') }}",
        //     getAdminPostAddHTML: "{{ path_for('getAdminPostAddHTML') }}",
        //     getAdminPostListHTML: "{{ path_for('getAdminPostListHTML') }}",
        //     getAdminPostEditHTML: "{{ path_for('getAdminPostEditHTML') }}",
        //     getAdminPostDiffHTML: "{{ path_for('getAdminPostDiffHTML') }}",
        //     //admin pages url
        //     postAdminPagesSaveJSON: "{{ path_for('postAdminPagesSaveJSON') }}",
        //     postAdminPagesChangeJSON: "{{ path_for('postAdminPagesChangeJSON') }}",
        //     getAdminPagesAddHTML: "{{ path_for('getAdminPagesAddHTML') }}",
        //     getAdminPagesListHTML: "{{ path_for('getAdminPagesListHTML') }}",
        //     getAdminPagesEditHTML: "{{ path_for('getAdminPagesEditHTML') }}",
        //     getAdminPagesDiffHTML: "{{ path_for('getAdminPagesDiffHTML') }}",
        //     //admin custom page
        //     getAdminCustomPageTeachersHTML: "{{ path_for('getAdminCustomPageTeachersHTML') }}",
        //     postAdminCustomPageTeachersJSON: "{{ path_for('postAdminCustomPageTeachersJSON') }}",
        //     getAdminCustomGalleryHTML: "{{ path_for('getAdminCustomGalleryHTML') }}",
        //     postAdminCustomGalleryJSON: "{{ path_for('postAdminCustomGalleryJSON') }}",
        //     //admin settings page
        //     getAdminSettingsHTML: "{{ path_for('getAdminSettingsHTML') }}",
        //     postAdminSettingsJSON: "{{ path_for('postAdminSettingsJSON') }}",
        //     //user page
        //     getAdminUserListJSON: "{{ path_for('getAdminUserListJSON') }}",
        //     setAdminInviteusersJSON: "{{ path_for('setAdminInviteusersJSON') }}",
        //     setAdminremoveUsersJSON: "{{ path_for('setAdminremoveUsersJSON') }}",
        //     //groups page
        //     postAdminNewGroupsJSON: "{{ path_for('postAdminNewGroupsJSON') }}",
        //     postAdminDeleteGroupsJSON: "{{ path_for('postAdminDeleteGroupsJSON') }}",
        //     postAdminSimpleEditGroupsJSON: "{{ path_for('postAdminSimpleEditGroupsJSON') }}",
        //     postAdminChangeUserGroupsJSON: "{{ path_for('postAdminChangeUserGroupsJSON') }}",
        //     postAdminKickUserGroupsJSON: "{{ path_for('postAdminKickUserGroupsJSON') }}",
        //     postAdminAddUserGroupsJSON: "{{ path_for('postAdminAddUserGroupsJSON') }}",
        //     // pendaftaran
        //     getAdminNewPSBJSON: "{{ path_for('getAdminNewPSBJSON') }}",
        //
        //
        // #}
    </script>
</body>

</html>
