{% extends "admin/base.twig" %}{% block head %} {{ parent() }}
<link href="public/assets/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="public/assets/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/assets/summernote/summernote.css" rel="stylesheet">
{% endblock %} {% block title %} Pos {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 no-gutter">
            <div class="col-md-8 no-gutter">
                <h3 class="page-title pull-left">Pendaftaran</h3>
            </div>
        </div>
        <br>
        <div class="col-md-12 no-gutter" id="post-list" style="padding-top:20px;">
            <div class="col-md-3 no-gutter" style="padding-right:20px;">
                <a role="button" style="text-decoration: none;" id="new-form">
                    <div class="notice notice-success">
                        <strong><i class="fa fa-plus fa-fw"></i> Buat Formulir Baru</strong><br>
                        <small>&nbsp;</small><br>
                    </div>
                </a>
            </div>
            {% for form in PSB %}
            <div class="col-md-3 no-gutter" style="padding-right:20px;">
                <a role="button" style="text-decoration: none;" class="edit-form" data-form="{{form|json_encode()}}">
                    <div class="notice notice-{{ form.done ? : form.type == 'reguler' ? 'info' : 'danger' }}">
                        <strong>{{form.name}}</strong> <small style="color:#c6c6c6;"> {{ form.done ? 'Ditutup' }}</small><br>
                        <small>{{form.start|date("d M")}} - {{form.end|date("d M Y")}} | {{ countPSBdata(form.id) }} Pendaftar</small><br>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} {% block js %} {{ parent() }}
<script src="public/assets/js/list.min.js"></script>
<script src="public/assets/js/list.pagination.min.js"></script>
<script src="public/assets/js/bootbox.min.js"></script>
<script src="public/assets/js/bootstrap-datepicker.min.js"></script>
<script src="public/assets/js/bootstrap-datepicker.id.min.js"></script>
<script src="public/assets/js/jquery.form.min.js"></script>
<script src="public/assets/summernote/summernote.min.js"></script>
<script src="public/assets/summernote/lang/summernote-id-ID.min.js"></script>
<script>
    $(document).ready(function(){
        var addFormTemplate = Twig.twig({
            href: baseUrl+"template/admin/psb/psb-add-form.twig",
            async: false
        });
        var editFormTemplate = Twig.twig({
            href: baseUrl+"template/admin/psb/psb-info-form.twig",
            async: false
        });
        $('#new-form').on('click', function(){
            var btn = $(this);
            var dialog = bootbox.dialog({
                className: 'modal-success',
                size: 'large',
                title: 'Buat Formulir Pendaftaran',
                message: addFormTemplate.render(),
                buttons: {
                    add: {
                        label: 'Tambah',
                        className: "btn-info",
                        callback: function() {
                            dialog.find('form').submit(function(e) {
                                e.preventDefault;
                                // return false to prevent normal browser submit and page navigation
                                return false;
                            });
                            // submit the form
                            dialog.find('form').ajaxSubmit({
                                url: baseUrl+'api/new/psb',
                                success:function(data) {
                                    if(data.status == 'success'){
                                        location.reload();
                                    }else{
                                        $.notify(data.message, "error");
                                    }
                                }
                            });
                            return false;
                        }
                    },
                    cancel: {
                        label: 'Batal',
                        className: "btn-default",
                    }
                }
            });
            dialog.init(function(){
                $('.summernote-before').summernote({
                    maxHeight: 200,
                    height: 200,
                    callbacks: {
                        onChange: function(contents, $editable) {
                          dialog.find('.messages-before').val(contents);
                        }
                    }
                });
                $('.summernote-after').summernote({
                    maxHeight: 200,
                    height: 200,
                    callbacks: {
                        onChange: function(contents, $editable) {
                          dialog.find('.messages-after').val(contents);
                        }
                    }
                });
                $('.input-daterange input').each(function() {
                    $(this).datepicker({
                        autoclose: true,
                        format: 'd M yyyy',
                        todayHighlight: true,
                        todayBtn: true,
                        zIndexOffset: 50000000
                    });
                });
            });
        })
        $('.edit-form').on('click', function(){
            var btn = $(this);
            var data = btn.data('form');
            var dialog = bootbox.dialog({
                title: 'Buat Formulir Pendaftaran',
                size: 'large',
                message: editFormTemplate.render(data),
                buttons: {
                    view: {
                        label: 'Lihat Pendaftar',
                        className: "btn-success pull-left",
                        callback: function() {
                            location.replace(baseUrl+'admin/psb/list-'+data.id);
                        }
                    },
                    add: {
                        label: 'Simpan Perubahan',
                        className: "btn-info",
                        callback: function() {
                            dialog.find('form').submit(function(e) {
                                e.preventDefault;
                                // return false to prevent normal browser submit and page navigation
                                return false;
                            });
                            // submit the form
                            dialog.find('form').ajaxSubmit({
                                url: baseUrl+'api/edit/psb/'+data.id,
                                success:function(data) {
                                    if(data.status == 'success'){
                                        location.reload();
                                    }else{
                                        $.notify(data.message, "error");
                                    }
                                }
                            });
                            return false;
                        }
                    },
                    cancel: {
                        label: 'Batal',
                        className: "btn-default",
                    }
                }
            });
            dialog.init(function(){
                $('.summernote-before').summernote({
                    maxHeight: 200,
                    height: 200,
                    callbacks: {
                        onChange: function(contents, $editable) {
                          dialog.find('.messages-before').val(contents);
                        }
                    }
                });
                $('.summernote-after').summernote({
                    maxHeight: 200,
                    height: 200,
                    callbacks: {
                        onChange: function(contents, $editable) {
                          dialog.find('.messages-after').val(contents);
                        }
                    }
                });
                $('.input-daterange input').each(function() {
                    $(this).datepicker({
                        autoclose: true,
                        format: 'd M yyyy',
                        todayHighlight: true,
                        todayBtn: true,
                        zIndexOffset: 50000000
                    });
                });
            });
        })
    })

</script>
{% endblock %}
