{% extends "admin/base.twig" %}{% block head %} {{ parent() }}
<link href="public/assets/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="public/assets/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/assets/summernote/summernote.css" rel="stylesheet">
<style>
    table, th, td {
        border: 1px solid #fff !important;
    }
    th {
        background-color: #000000 !important;
    }
    td {
        padding-top: 15px !important;
        padding-bottom: 15px !important;
        font-size: 13px !important;
    }
</style>
{% endblock %} {% block title %} Pos {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 no-gutter">
            <div class="col-md-8 no-gutter">
                <h3 class="page-title pull-left">Pendaftaran</h3>
            </div>
        </div>
        <br>
        <div class="col-md-12 no-gutter" id="post-list" style="padding-top:20px;">
            <div class="col-md-6 col-md-offset-6">
                <div class="form-group">
                    <div class="input-group" style="padding-left:20px;">
                        <input type="text" class="form-control input-sm search" style="width:100%" placeholder="Pencarian: Nama Siswa, NISN, Asal Sekolah, Kabupate/Kota">
                        <span class="input-group-btn">
                            <button class="btn btn-default btn-sm" type="button"><i class="mdi mdi-magnify"></i> Cari Siswa</button>
                        </span>
                    </div>
                </div>
            </div>
            <div class="col-md-12 no-gutter">
                <div class="table-responsive">
                    <table class="table">
                        <thead>
                            <tr class="info">
                                <th class="text-center" rowspan="2">NO</th>
                                <th class="text-center" rowspan="2" style="min-width:300px;">NAMA</th>
                                <th class="text-center" rowspan="2" style="min-width:250px;">ASAL SEKOLAH</th>
                                <th class="text-center" colspan="5">BAHASA INDONESIA</th>
                                <th class="text-center" colspan="5">BAHASA INGGRIS</th>
                                <th class="text-center" colspan="5">MATEMATIKA</th>
                                <th class="text-center" colspan="5">ILMU PENGETAHUAN ALAM</th>
                                <th class="text-center" colspan="5">ILMU PENGETAHUAN SOSIAL</th>
                                <th class="text-center" rowspan="2">JUMLAH</th>
                                <th class="text-center" rowspan="2">RATA-RATA</th>
                                <th class="text-center" rowspan="2">TINDAK LANJUT</th>
                            </tr>
                            <tr class="info">
                                <th class="text-center">7 SMT 1</th>
                                <th class="text-center">7 SMT 2</th>
                                <th class="text-center">8 SMT 1</th>
                                <th class="text-center">8 SMT 2</th>
                                <th class="text-center">9 SMT 1</th>
                                <th class="text-center">7 SMT 1</th>
                                <th class="text-center">7 SMT 2</th>
                                <th class="text-center">8 SMT 1</th>
                                <th class="text-center">8 SMT 2</th>
                                <th class="text-center">9 SMT 1</th>
                                <th class="text-center">7 SMT 1</th>
                                <th class="text-center">7 SMT 2</th>
                                <th class="text-center">8 SMT 1</th>
                                <th class="text-center">8 SMT 2</th>
                                <th class="text-center">9 SMT 1</th>
                                <th class="text-center">7 SMT 1</th>
                                <th class="text-center">7 SMT 2</th>
                                <th class="text-center">8 SMT 1</th>
                                <th class="text-center">8 SMT 2</th>
                                <th class="text-center">9 SMT 1</th>
                                <th class="text-center">7 SMT 1</th>
                                <th class="text-center">7 SMT 2</th>
                                <th class="text-center">8 SMT 1</th>
                                <th class="text-center">8 SMT 2</th>
                                <th class="text-center">9 SMT 1</th>
                            </tr>
                        </thead>
                        <tbody>
                        <tr>
                            {% for psbdata in PSBData %}
                                {% set data = psbdata.data %}
                                {% set bio, school = data.bio, data.school %}
                                {% set total = 0 %}
                                <td>1</td>
                                <td><b>{{bio.name}}</b></td>
                                <td><b>{{school.name}}</b></td>
                                {% for grade in  data.grades %}
                                    {% set total = total+grade.bahasa %}
                                    <td class="text-center">{{grade.bahasa}}</td>
                                {% endfor %}
                                {% for grade in  data.grades %}
                                    {% set total = total+grade.english %}
                                    <td class="text-center">{{grade.english}}</td>
                                {% endfor %}
                                {% for grade in  data.grades %}
                                    {% set total = total+grade.math %}
                                    <td class="text-center">{{grade.math}}</td>
                                {% endfor %}
                                {% for grade in  data.grades %}
                                    {% set total = total+grade.science %}
                                    <td class="text-center">{{grade.science}}</td>
                                {% endfor %}
                                {% for grade in  data.grades %}
                                    {% set total = total+grade.social %}
                                    <td class="text-center">{{grade.social}}</td>
                                {% endfor %}
                                <td class="text-center">{{total}}</td>
                                <td class="text-center">{{ total / 25 }}</td>
                            {% endfor %}
                        </tr>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %} {% block js %} {{ parent() }}
<script src="public/assets/js/list.min.js"></script>
<script src="public/assets/js/list.pagination.min.js"></script>
<script src="public/assets/js/bootbox.min.js"></script>
<script>
    $(document).ready(function(){
    })
</script>
{% endblock %}
