{% extends "admin/base.twig" %}{% block head %} {{ parent() }}
<link href="public/assets/css/awesome-bootstrap-checkbox.css" rel="stylesheet">
<link href="public/assets/css/bootstrap-datepicker.min.css" rel="stylesheet">
<link href="public/assets/summernote/summernote.css" rel="stylesheet">
{% endblock %} {% block title %} Penerimaan Siswa Baru {% endblock %} {% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 no-gutter">
            <div class="col-md-8 no-gutter">
                <h3 class="page-title pull-left">Pendaftaran</h3>
            </div>
        </div>
        <br>
        <div class="col-md-12 no-gutter" id="post-list" style="padding-top:20px;">
            <div class="col-md-3 no-gutter" style="padding-right:20px;">
                <a role="button" style="text-decoration: none;" id="new-form">
                    <div class="notice notice-success">
                        <strong><i class="fa fa-plus fa-fw"></i> Buat Formulir Baru</strong><br>
                        <small>&nbsp;</small><br>
                    </div>
                </a>
            </div>
            {% for form in forms %}
            <div class="col-md-3 no-gutter" style="padding-right:20px;">
                <a href="{{ path_for('admin_PPDB_data', {'name': form.name_url }) }}" style="text-decoration: none;" class="edit-form" data-form="{{form|json_encode()}}">
                    <div class="notice notice-{{ form.done ? : form.type == 'reguler' ? 'info' : 'danger' }}">
                        <strong>{{form.name}}</strong> <small style="color:#c6c6c6;"> {{ form.done ? 'Ditutup' }}</small><br>
                        <small>{{form.start|date("d M")}} - {{form.end|date("d M Y")}} | {{ countPSBdata(form.id) }} Pendaftar</small><br>
                    </div>
                </a>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock %} {% block js %} {{ parent() }}
<script src="public/assets/js/list.min.js"></script>
<script src="public/assets/js/list.pagination.min.js"></script>
<script src="public/assets/js/bootbox.min.js"></script>
<script src="public/assets/js/bootstrap-datepicker.min.js"></script>
<script src="public/assets/js/bootstrap-datepicker.id.min.js"></script>
<script src="public/assets/js/jquery.form.min.js"></script>
<script src="public/assets/summernote/summernote.min.js"></script>
<script src="public/assets/summernote/lang/summernote-id-ID.min.js"></script>
<script src="public/assets/summernote/lang/summernote-id-ID.min.js"></script>
<script>
    $(document).ready(function(){
        PPDBForm({
            url:{
                'newForm': '{{ path_for('admin_PPDB_forms_new') }}'
            }
        })  
    })
</script>
{% endblock %}
